<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Howlers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="js/index.js" type="module" defer></script>
    <link href="css/home.css" rel="stylesheet">
</head>

<body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button id="logout-btn" class="btn btn-danger me-2">Logout</button>
            <h1 class="navbar-brand mx-auto">Howler</h1>
            <div class="d-flex align-items-center">
                <img id="profile-picture" alt="Profile Picture" class="avatar me-2" height="30px">
                <span id="username"></span>
            </div>
        </div>
    </header>
    <div id="app-container" class="container mt-5">

    </div>
</body>

</html>