<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay Your Friends</title>
    <link href="css/default-styles.css" rel="stylesheet">
    <link href="css/result-page-styles.css" rel="stylesheet">
    <link href="css/error-styles.css" rel="stylesheet">
    <script defer src="js/resultPage.js"></script>
</head>

<body>
    <form method="get" action="/" enctype="text/plain">
        <div class="main">
            <h1>Error</h1>
        </div>
        <div class="new-payment-button">
            <input class="page-switch-button" type="submit" value="Try Again">
        </div>
    </form>
</body>

</html>