html,
body {
    height: 100%;
    color: #333;
}

body {
    margin: 0;
    background-image: linear-gradient(180deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* #region header */

header {
    padding: 20px;
    background-color: #f6f9fb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
}

header>div {
    margin-left: 10px;
}

header h1 {
    margin: 0;
    font-size: 22px;
}

header h2 {
    margin: 0;
    font-size: 18px;
    color: #555;
}

header h3 {
    font-size: 1em;
    margin-left: 25px;
}

#accent-separator {
    /* background: linear-gradient(to bottom, #fc5c7d, #6a82fb); */
    /* background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%); */
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    border-radius: 16px;
    width: 20px;
    position: relative;
}

#accent-separator>div {
    position: absolute;
    border-radius: 16px;
    inset: 8px;
    background-color: white;
}

/* #endregion */

#page-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/* the carousel has the cards and the buttons */
#carousel {
    display: flex;
    align-items: center;
    gap: 4px;
    overflow: hidden;
    width: 80vw;
    margin: 5px auto;
}

/* this contains just the cards */
#carousel-cards {
    overflow-x: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* #region scroll buttons */
.scroll-cards-btn {
    border: none;
    cursor: pointer;
    visibility: hidden;
    height: 120px;
    background-color: #f5f5f5;
    border-radius: 35px;
    transition: background-color 0.3s, color 0.3s;
}

.scroll-cards-btn>img {
    height: 30px;
    width: auto;
}

.scroll-cards-btn:hover {
    background-color: #ccc;
}

#carousel:hover .scroll-cards-btn {
    visibility: visible;
}

/* #endregion scroll buttons */

/* #region card styles */
.card {
    background-color: #f5f5f5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 32vw;
    border-radius: 20px;
    margin: 0px -30px;
    scroll-snap-align: center;
    transition: 0.3s;

    /* this is setting the initial state of the size of the cards */
    transform: scale(0.9);
}

/* make the first card not have margin-left */
.card:first-child {
    margin-left: 20vw;

    /* this is setting the initial state of the size of the cards */
    transform: scale(1);
}

.card:last-child {
    margin-right: 20vw;
}

.card>a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.card-img {
    max-height: auto;
    max-width: 32vw;
    border-radius: 20px;
}

.card-header {
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
}

.card-description {
    margin-left: 15px;
    text-wrap: wrap;
    max-width: 100%;
    height: 40px;
}

.technologies-used {
    display: flex;
    gap: 4px;
    margin: 5px 20px;
    right: 0
}

.technologies-used>div {
    padding: 2px;
    color: white;
    font-weight: 600;
    border-radius: 2px;
}

.html {
    background-color: #E44D26;
}

.css {
    background-color: #1572B6;
}

.js {
    background-color: #F0DB4F;
}

.express {
    background-color: #000000;
}

.react {
    background-color: #61DAFB;
}

.bootstrap {
    background-color: #7952B3;
}

.tailwind {
    background-color: #38B2AC;
}

/* #endregion */