:root {
    --main-bg-color: #f1f0f5;
    --card-bg-color: #ffffff;
    --header-bg-color: #fff;
    --aside-bg-color: #293241;
    --header-fg-color: #000;
    --aside-fg-color: #fff;
    --aside-highlight-color: #212935;
    --flair-color: #293241;
    --flair-highlight-color: #212935;
}

body {
    display: flex;
    margin: 0;
    background-color: var(--main-bg-color);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.flair-button {
    background: var(--flair-color);
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 4px;
}

.flair-button:hover {
    background: var(--flair-highlight-color);
}

.card {
    border: 1px solid #d9dee2;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: var(--card-bg-color);
    margin: 15px 10px;
}

/*#region aside*/
aside {
    position: sticky;
    top: 0;
    height: 100%;
    background-color: var(--aside-bg-color);
    color: var(--aside-fg-color);
    display: flex;
    flex-direction: column;
}

#app-logo-section {
    text-align: center;
    height: 10vh;
}

#app-logo-section>a {
    width: 80%;
    margin: 5px auto;
    display: block;
}

#user-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--main-bg-color);
    flex: 0;
}

#user-account>img {
    border: 2px solid var(--main-bg-color);
    border-radius: 20px;
}

#user-account>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-account>div>p {
    margin: 10px 0;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

#navbar>nav {
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

#navbar>nav:hover {
    overflow-y: visible;
}

#navbar a {
    text-decoration: none;
    color: white;
    display: block;
    height: 45px;
    width: 150px;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
}

aside a:hover {
    background-color: var(--aside-highlight-color);
}

#footer {
    border-top: 1px solid var(--main-bg-color);
    bottom: 0;
    flex: 0;
}

/*#endregion*/

/*#region header*/
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 10vh;
    background-color: var(--header-bg-color);
    color: var(--header-fg-color);
    border-bottom: 2px solid var(--main-bg-color);
}

#left-section {
    padding: 5px;
}

#right-section {
    display: flex;
    flex-direction: row-reverse;
}

.header-btn {
    height: 100%;
    background: none;
    border: none;
    color: inherit;
    font-size: 20px;
    min-width: 60px;
}

.header-btn:hover {
    background-color: #e0e0e0;
}

.account-dropdown>.header-btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.account-dropdown>.header-btn>img {
    border-radius: 20px;
    height: 80%;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: var(--header-bg-color);
    border: 1px solid var(--main-bg-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 5px;
}

.dropdown-content>h6 {
    margin: 0;
    font-size: 18px;
}

.dropdown-content ul {
    list-style: none;
    padding-left: 0;
}

.dropdown-content a {
    color: var(--header-fg-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
}

.dropdown-content img {
    border-radius: 40px;
    height: 40px;
    margin-right: 3px;
}

.dropdown-content li {
    margin-bottom: 2px
}

.dropdown-content li:hover {
    background-color: #e0e0e0;
}

.dropdown-content li h6 {
    font-size: 12px;
    margin: 0;
}

.dropdown-content small {
    margin-left: 2px;
    display: block;
}

/*#endregion*/

/*#region top info boxes*/
#info-box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-box-item {
    text-align: center;
}

/*#endregion*/

/*#region traffic impressions charts*/
.traffic-impressions-div>.card>div {
    display: flex;
    flex-direction: column-reverse;
}

.traffic-impressions-div>.card>div>div>div {
    display: flex;
    justify-content: space-between;
}

/*#endregion*/

/*#region revenue by location*/
.revenue-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.revenue-map-data {
    display: flex;
    flex-direction: column-reverse;
}

.revenue-map-data table {
    width: 100%;
    border-collapse: collapse;
}

.revenue-map-data th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
}

.revenue-map-data tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.revenue-map-data td {
    padding: 10px;
    border: 1px solid #ddd;
}

.revenue-map-data td:first-child {
    font-weight: bold;
}

/*#endregion*/

/*#region revenue by location 2*/
#revenue-by-location-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "chart"
}

#revenue-by-location-2>h4 {
    grid-area: header;
}

.revenue-2-chart {
    grid-area: chart;
}

#revenue-by-location-2>div {
    display: flex;
    gap: 10px;
    align-items: center;
}


/*#endregion*/

/*#region*/
#order-statistics>div {
    display: flex;
    justify-content: space-between;
}